@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh; /* Prevents scrolling within the full viewport */
  width: 100vw;
}
