@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  height: 100dvh; /* Prevents scrolling within the full viewport */
  width: 100%;
}

/* Hide the scrollbar but still allow scrolling */
.hide-scrollbar {
  overflow-y: scroll; /* Keeps scrolling enabled */
  scrollbar-width: none; /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer Edge */
}


/* Targeting only the div with class 'custom-scrollbar' */

/* Custom scrollbar styles */
/* ::-webkit-scrollbar {
  width: 10px; /* Thinner scrollbar */
/* } */

/* ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
} */

/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
} */